
/Week2/Library
/Week2/Temp
/Week2/UserSettings
/Week2/.vs
Week2/.vsconfig
/Week3/.vs
Week3/.vsconfig
Week3/Assembly-CSharp-Editor.csproj
Week3/Assembly-CSharp.csproj
/Week3/Library
/Week3/Logs
/Week3/obj
/Week3/UserSettings
Week3/Week2.sln
Week3/Week3.sln
/Week 4 - Quaternions/Temp
/Week 4 - Quaternions/Library
/Week 4 - Quaternions/Logs
/Week 4 - Quaternions/UserSettings
/Week5/Library
/Week5/Logs
/Week5/Temp
/Week5/UserSettings
/Week6/.vs
Week6/.vsconfig
/Week6/Library
/Week6/Logs
/Week6/obj
/Week6/UserSettings
/Week7/Library
/Week7/Logs
/Week7/Temp
/Week7/.vs
Week7/.vsconfig
Week7/Assembly-CSharp.csproj
Week7/Week7.sln
/Week7/UserSettings
Week8/.vsconfig
Week8/Assembly-CSharp-Editor.csproj
Week8/Assembly-CSharp.csproj
/Week8/Library
/Week8/Logs
/Week8/Temp
/Week8/UserSettings
/Week9/Library
/Week9/Logs
/Week9/Temp
/Week9/UserSettings
